API_BASE_URL=http://localhost:3000/api/v1

GOOGLE_WEB_CLIENT_ID=numbersapps.googleusercontent.com

DEV_BYPASS=false
DEV_EMAIL=dev@personalcodex.app
DEV_PASSWORD=dev123456
ADMIN_EMAIL=admin@personalcodex.app
ADMIN_PASSWORD=admin123456
